---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";

import artPortrait from "@assets/images/portrait-art.jpg";
import devPortrait from "@assets/images/portrait-dev.jpg";
import noiseImage from "@assets/images/broken_noise.png";

const imageContainerStyles =
  "group flex-1 overflow-hidden relative flex items-center isolate justify-center \
   opacity-40 hocus-within:opacity-100 transition duration-300 \
   first:animate-[flash_1s_cubic-bezier(0.4,0,0.2,1)_2] \
   last:animate-[flash_1s_cubic-bezier(0.4,0,0.2,1)_500ms_2]";
const imagePortraitStyles =
  "absolute inset-0 object-cover w-full h-full -z-1 group-hocus-within:scale-105 transition duration-300 \
  group-first:animate-[pulseScale_1s_cubic-bezier(0.4,0,0.2,1)_2] \
  group-last:animate-[pulseScale_1s_cubic-bezier(0.4,0,0.2,1)_500ms_2]";
const mainLinkStyles =
  "flex gap-2 items-center backdrop-blur-sm bg-black/60 py-5 px-8 rounded-md \
   border-gray-600 border-1 text-2xl leading-none font-semibold font-sans text-center \
   hocus:bg-black/70 transition";

const gradientTextStyles =
  "w-fit bg-gradient-to-tr from-zinc-500 to-zinc-50 bg-clip-text text-transparent";
---

<Layout title="Miguel Ángel">
  <main
    class="relative isolate flex flex-col gap-4 bg-gradient-to-tr from-zinc-950 to-zinc-800 p-4 text-white"
  >
    <div
      class="x-bg-noise 80 absolute inset-0 -z-1 bg-[length:400px] bg-repeat"
    >
    </div>

    <header
      class="flex justify-center rounded-md border-1 border-white/15 bg-gradient-to-tr from-zinc-950/80 p-4"
    >
      <h1 class=`${gradientTextStyles} text-xl font-semibold`>MIGUEL ÁNGEL</h1>
    </header>

    <div
      class="flex max-w-full flex-1 flex-col overflow-hidden rounded-md border-1 border-white/15 lg:flex-row"
    >
      <div class={imageContainerStyles}>
        <Image
          src={artPortrait}
          alt={"art-portrait"}
          class={`${imagePortraitStyles} object-[center_26%]`}
          loading='eager'
        />
        <a
          href="https://art.miguelangel.pro/"
          class={mainLinkStyles}
          target="_blank"
        >
          <span class=`${gradientTextStyles}`>ART</span>
           WORLD
          <Icon name="fluent:open-16-filled" class="h-7" />
        </a>
      </div>
      <div class={imageContainerStyles}>
        <Image
          src={devPortrait}
          alt={"dev-portrait"}
          class={`${imagePortraitStyles} object-[88%]`}
          loading='eager'
        />
        <a
          href="https://dev.miguelangel.pro/"
          class={mainLinkStyles}
          target="_blank"
        >
          <span class=`${gradientTextStyles}`>TECH</span>
           WORLD
          <Icon name="fluent:open-16-filled" class="h-7" />
        </a>
      </div>
    </div>
  </main>
</Layout>

<style
  is:global
  define:vars={{
    noiseImageURL: `url("${noiseImage.src}")`,
  }}
>
  .x-bg-noise {
    background-image: var(--noiseImageURL);
  }
</style>
